body{
    background-color: #808080;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: #a9a9a9;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    width: 60px;
    height: 60px;
    outline: 0;
    /* border-radius: 50px; */
    font-size: 20px;
    color: #008080;
    margin: 5px;
    cursor: pointer;
}

.main-content{
    display: flex;
    justify-content: flex-end;
    margin: 18px 0;
}

form .main-content input{
    text-align: right;
    flex: 1;
    font-size: 45px;
}

form input.equal{
    width: 150px;
    border-radius: 40px;
}

.rounded{
    border-radius: 50px;
}